/* Custom color theme properties */
:root {
  --f7-theme-color: #0093ff;
  --f7-theme-color-rgb: 0, 147, 255;
  --f7-theme-color-shade: #007bd6;
  --f7-theme-color-tint: #29a4ff;
}

/* Your app custom styles here */